@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700$display=swap');
:root{
            --primary-color:#C84630;
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto','sans-serif';
    line-height: 1.4;
}
a{
    text-decoration: none;
}
p{
    margin:.75rem 0;
}
ul{
    list-style: none;
}
.l-heading{
    font-size: 4rem;
    line-height:1.1;
    margin-bottom: 1rem;
    font-weight: 1000;
}
.lead{
    font-size: 1.3rem;
    margin-bottom: 0.8rem;
    line-height: 1.1;
}
.btn{
        display: inline-block;
        background: var(--primary-color);
        color: #fff;
        border-radius: 5px;
        padding: 0.5rem 1rem;
        font-size: 1.1rem;
        border: none;
        transition: background 0.3s;
}
.btn:hover{
    background:rgb(145,63,48) ;
    cursor: pointer;
}
.col-4 i{
background: var(--primary-color);
color: #fff;
display: inline-block;
border-radius: 100%;
width:4rem;
height:4rem;
line-height: 4rem;
margin-bottom: 1rem;
}
.content-text{
    font-size: 1.1rem;
    font-weight: lighter;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
    padding:2rem;
}
.text-center{
    text-align:center;
}
.text-primary{
    color: var(--primary-color);
}
.bg-light{
    background-color: #f4f4f4;
    color:#333;
}
.bg-dark{
    background-color: #333;
    color:#fff;
}
.bg-primary{
    background-color: var(--primary-color);
    color:#fff;
}
#navbar{
    background-color: #333;
    color: #fff;
    position: sticky;
    top:0;
    display: flex;
    justify-content: space-between;
    padding:1rem;
}
#navbar ul{
    display: flex;
    align-items: center;
}
#navbar ul li{
    margin: 0  .25rem;
}
#navbar ul li a{
    color: #fff;
    padding: .75rem;
    border-radius: 5px;
    transition: background-color .3s;
}
#navbar ul li a:hover{
    background-color: var(--primary-color);
}
.logo{
    max-height: 45px;
}
#showcase{
    background: #333 url('/images/showcase.jpg') no-repeat center center;
    height:100vh;
    background-size: cover;
}
.showcase-content{
    display: flex;
    flex-direction: column;
    height:100%;
    background-color: rgba(0,0,0,0.6);
    color:white;
    justify-content: center;
}
#sub-showcase{
    width:1200px;
    margin:0 auto;
}
#sub-showcase h1{
    font-size:2.5rem;
}
.content{
    display:flex;
    padding:1rem;
}
.col-4{
    padding:20px;
    width:33.33%;
}
.col-4:hover{
    cursor: pointer;
    background-color: var(--primary-color);
    color:white;
    transition: background 0.5s,color 0.5s;
}
.col-4:hover i{
    background: #fff;
    color: var(--primary-color);
    transition: background 0.5s,color 0.5s;
}
#about-us .content{
    justify-content: center;
}

